// Variables

$brand-primary: #21053b;
$brand-secondary: #4c287c;
$brand-gray: #696969;

$gray-dark: #404040;
$gray-light: #bfbfbf;

$white: #ffffff;
$white-faded: rgba(255, 255, 255, 0.8);

$post-list-title-size: 26px;
$post-list-text-size: 16px;
$post-list-title-size-mobile: 21px;
$post-list-text-size-mobile: 14px;
