{{ partial "header.html" . }}

<section id="content" class="single_post" itemscope itemtype="http://schema.org/BlogPosting">
    <div id="date">
        <time itemprop="datePublished" content="{{ .Date.Format (.Site.Params.schemaDate) }}">
            {{ .Date.Format (.Site.Params.dateform) }}
        </time>
    </div>
    <h1 itemprop="headline">
        {{ if .Params.heading }}
            {{ .Params.heading }}
        {{ else }}
            {{ .Title }}
        {{ end }}
    </h1>

    <div class="entry-content" itemprop="articleBody" >
        {{ .Content }}
    </div>

    <div id="content-footer">
        <span itemprop="author" itemtype="http://schema.org/Person">
            Written by <span itemprop="name">{{ .Site.Params.author }}</span>
        </span>
    </div>
</section>

<div id="links">
    {{ if .PrevInSection }}
    <a class="basic-alignment" href="{{.PrevInSection.Permalink}}">&laquo;
        {{.PrevInSection.Title}}
    </a>
    {{ end }}
    {{ if .NextInSection }}
    <a class="basic-alignment {{ if not .PrevInSection }}right{{ end }}" href="{{.NextInSection.Permalink}}">
        {{.NextInSection.Title}} &raquo;
    </a>
    {{ end }}
</div>

{{ template "_internal/disqus.html" . }}

{{ partial "footer.html" . }}


