{{ partial "header.html" . }}

<section id="content">
    <div id="linux-listing">

        <h1>Articles</h1>
        <ul>
            {{ range where .Pages.ByPublishDate "Type" "linux" }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>

        <h1 style="margin-top: 25px">Labs</h1>
        <ul>
            {{ range where .Pages.ByPublishDate "Type" "lab" }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>

    </div>
</section>

{{ partial "footer.html" . }}
