{{ partial "header.html" . }}

<section id=content>
    <ul class=posts_listing>
        {{ range where .Paginator.Pages.ByPublishDate "Section" "post" }}
        <li>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div id=date>
                <time>{{ .Date.Format (.Site.Params.dateform) }}
                </time>
            </div>
            <div>{{ .Summary }}</div>
        </li>
        {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
</section>

{{ partial "footer.html" . }}
